# Go
bin/
*.exe
vendor/

# Node
node_modules/
dist/
.vite/

# Docker
.dockerignore

# Env
.env
.env.local

# IDE
.idea/
.vscode/
.DS_Store

# Claude Code
.claude/

# Google Cloud SDK
google-cloud-sdk/
google-cloud-cli-*.tar.gz
